<%= @user.email %>

<% @cards.each do |card| %>

  <%= link_to card.player.name, user_card_path(@user, card) %>


<section class="container">
  <div id="card-<%=card.id%>" class="player-card">
    <figure class="front">
      <%= card.player.name %>
      <img src="<%=card.player.photo%>">
      </figure>
    <figure class="back"><%= "#{card.player.name}"%>
    <ul>
    <li><%= "BA: #{card.batting_avg.round(3)}"%></li>
    <li><%= "OBP: #{card.obp.round(3)}"%></li>
    <li><%= "HRs: #{card.home_runs}"%></li>
    <li><%= "RBIs: #{card.rbis}"%></li>
    </ul></figure>
  </div>
</section>

<% end %>

