
<% @cards.each do |card| %>
<section class="container-element">
  <div id="card-<%=card.id%>" class="player-card">
    <figure class="front panel">
      <h4><%= card.player.name %></h4>
     <!--  <div class = "panel-body"> -->
        <img class="no-blur" src="<%=card.player.photo%>">
     <!--  </div> -->
      </figure>
    <figure class="back panel">
      <h5><%= "#{card.player.name}"%></h5>
      <ul>
        <li><%= "BA: #{card.batting_avg.round(3)}"%></li>
        <li><%= "OBP: #{card.obp.round(3)}"%></li>
        <li><%= "HRs: #{card.home_runs}"%></li>
        <li><%= "RBIs: #{card.rbis}"%></li>
      </ul>
    </figure>
  </div>
</section>
<% end %>

